body{
    /*    background-color: #EAEAEA;*/
    }
    .all-display{
        background-color: #EAEAEA;
        padding-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    /*    height: 100%;*/
    /*    background-color: #333333;*/
    }
    .main{
        background-color: white;
        border-bottom-color: black;
        border: 2px solid #343a40;
        width: 1140px;
        margin: auto;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .leftside{
        width: 240px;
        float: left;
        text-align: center;
    /*    padding-left: 8px;*/
    /*    border: 2px solid black;*/
        padding: 5px;
        overflow: hidden;
    }
    .rightside{
        
        width: 890px;
        float: right;
    /*    border: 2px solid black;*/
    /*    height: 750px;*/
        overflow: hidden;
    }
    .bottom{
        overflow: hidden;
        width: 100%;
    }
    .display-3{
        margin: 3px;
        width: 49.3%;
    /*    height: 250px;*/
    /*    border: 2px solid black;*/
    }
    .display-3 .hr-short{
        width: 10%;
        border: 2px solid black;
        padding: 0px;
        margin: 0px;
        float: left;
    }
    
    .display-3 .hr-long{
        float: left;
        width: 85%;
        border: 2px solid gray;
    /*    padding: 0px;*/
        margin: 0px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .perfect{
        width: 100%;   
    }
    .display-4{
        border: 2px solid black;
        width: 100%;
        height: 230px;
        overflow: hidden;
    }
    .maintitle{
        font-size: 25px;
    }
    .font-italic{
        font-style:italic;
        font-size:5rem;
        margin: 0px;
        padding: 15px;
    }
    .content{
        text-align: right;
        padding-right: 20px;
        font-size: 20px;
    }
    h1{
        font-family: arial;
    }
    .display-2{
        background-color: #B5B5B5;
        height: 370px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid white;
        border-radius: 10px;
    } 
    .display-2 h1{
        font-size: 60pt;
        font-weight: bold;
    }
    .display-2 hr{
        width: 97%;
        border: solid 1px white;
    }
    .news, .notice{
    /*    border: 4px solid red;*/
        border-radius: 4px;
        margin: 2px;
    /*    background-color: */
    }
    .display-1{
        font-size: 20px;
        font-weight: bold;
        background-color: #343a40;
        color: white;
    }
    .display-1 .code{
        color: #E6749D;
    }
    .display-1-1{
        margin-left: 2%;
        width: 550px;
    }
    .display-5{
        margin: 5px;
    }
    
    /*********************************************************************************/
    /********************************* profil        *********************************/
    /*********************************************************************************/
    
    .profile-box{
        border: 2px solid #343a40;
        border-radius: 5px;
        width: 430px;
        height: 200px;
        float: left;
        padding: 5px;
        margin: 5px;
    }
    
    .profile-image{
        width: 120px;
        float: left;
        margin: 5px;
    }
    
    .profile-content{
        margin: 5px;
        float: left;
        width: 260px;
    }
    
    /*********************************************************************************/
    /********************************* reasearc \    *********************************/
    /*********************************************************************************/
    .research-box{
        border: 2px solid black;
        border-radius: 15px;
        width: 280px;
        height:460px;
        padding: 5px;
        margin: 5px;
        float: left;
    }
    .research-box img{
        margin-top: 10px;
        margin-left: 22%;
        margin-right: 22%;
    }
    .hr-research{
        border:2px solid black;
        border-radius: 10px;
        width: 98%;
        margin: 2px;
    }
    .resarch-content p{
        margin-top: 15px;
        text-align: center;
        font-size: 15pt;
        font-weight: bold;
    }
    
    .resarch-content li{
        font-size: 15px;
    }
    
    .course-box{
        text-align: center;
        border: 2px solid black;
        width: 300px;
        height: 180px;
        padding: 4px;
        border-radius: 10px;
        margin: 5px;
        float: left;
    }
    .course-title{
    /*    border: 2px solid black;*/
        height: 100px;
    }
    .course-button{
    /*    border: 2px solid black;*/
        height: 50px;
    }
    .course-hr{
        border: 1px solid black;
        width: 99%;
        border-radius: 10px;
        margin-top:0px;
        margin-bottom: 5px;
    }
    .logined{
        margin: 5px;
        font-size: 15pt;
        font-weight: bold;
    }
    
    /*********************************************************************************/
    /********************************* fold function *********************************/
    /*********************************************************************************/
    .tb {
      margin: 10px 0;
      position: relative;
    }
    input[type="checkbox"] {
      width: 100%;
      height: 40px;
      position: absolute;
    /*  left: 0;*/
    /*  top: 0;*/
      opacity: 0;
      z-index: 10;
      cursor: pointer;
    }
    input[type="checkbox"]:hover ~ span {
      color: red;
    }
    .tb span {
    /*  position: relative;*/
    /*  line-height: 23px;*/
      display: inline-block;
      background: white;
      color: black;
      transition: all .3s ease;
    /*  padding: 0 10px;*/
      width: 100%;
    }
    .tb span+span,
    .collapsible {
      display: none;
    }
    .tb input[type="checkbox"]:checked ~ span {
      display: none;
    }
    .tb input[type="checkbox"]:checked ~ span+span {
      display: inline-block;
    }
    .tb input[type="checkbox"]:checked ~ .collapsible {
      display: table;
    }
    
    
    
    /********************************************************************8************/
    /********************************* popup function ********************************/
    /*********************************************************************************/
    
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
    /*    border: 16px solid ;*/
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
    
    
    .pub-title{
        width:700px;
        float: left;
        padding: 10px
    }
    .pub-url{
    /*    float: right;*/
    }
    .pub-aa{
        overflow: hidden;
        width: 100%;
    }
    .pub-desc{
        width: 800px;
        padding-left: 5px;
        
    }
    
    .pub-sub{
        padding: 5px;
        float: left;
    }


.box {
    border-left: 3px solid red;
    padding-left: 10px;
      
  }
  
  .nav_box {
    vertical-align: bottom;
    background-color: black;
    color: white;
    padding: 10px;
      border-radius: 3px;
      margin-left: 5px;
  }
  
  .nav_box:hover {
    background-color: #1E90FF;
  }
  
  nav a {
    text-decoration: none;
    font-size: 15px;
  }
  
  .box:hover {
    background-color: #F5F5DC;
  }
  
  .publication_list a {
    text-decoration: none;
    color: black;
  }
  
  /* Popup */
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }

  /* black-border-line */

  .out{
    width: 100%;
    text-align: center;
  }
  
  .in{
    margin-top:5%;
    margin-bottom:5%;
    display: inline-block;
    padding:20px;
    border:5px solid #333333;
    border-radius: 10px;
    width:60%;
    text-align: center;
  }